@import url("https://fonts.googleapis.com/css2?family=Montserrat+Alternates:wght@400;600;700&display=swap");
:root {
    --main-color:  hsl(145, 100%, 16%);
    --yellow-color: hsl(51, 100%, 50%);
    --white-color: hsl(0, 0%, 100%);
    --black-color: hsl(0, 0%, 0%);
    --green-color: 116;
  --pink-color: 300;
  /*========== Font and typography ==========*/
  /*.5rem = 8px | 1rem = 16px ...*/
  --biggest-font-size: 2rem;
  --body-font: "Montserrat Alternates", serif;
  --big-font-size: 1.5rem;
  --medium-font-size:1.125rem;
  --small-font-size: .813rem;
   --normal-font-size: .938rem;
  /*========== Font weight ==========*/
  --font-regular: 400;
  --font-semi-bold: 600;
  --font-bold: 700;
}

*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
body{
    font-family: var(--body-font);
}
ul{
    list-style: none;
}
.container{
    max-width: 1250px;
}
img{
    display: block;
    max-width: 100%;
    height: 100%;
}
a{
    text-decoration: none;
    color: var(--white-color);
}
.letter_color{
    color: hsl(39, 99%, 55%);
}
/* Background */
.main{
    overflow: hidden; 
    height: 100vh;
}
.bg__image,
.bg__blur{
    position: fixed;
    top: 0;
    right: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
}
.bg__blur{
    backdrop-filter:blur(5px);
}
/* .bg__image{

} */
/* header */
.head{
    position: fixed;
    top: 0;
    left: 0;
    background-color: hsla(208, 100%, 97%,.5);
    z-index: 100;
    width: 100%;
    transition: box-shadow .4s;
}
.nav{
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 4rem;
    padding-inline: 2rem;
}

.nav__logo{
    display: flex;
    align-items: center;
    cursor: pointer;
}
.logo__title{
    display: block;
    min-width: 250px;
    color: hsl(128, 97%, 14%);
   
    padding-inline: .5rem;
    box-shadow: 0 4px 16px hsl(210, 17%, 95%);
    border-radius: .5rem;
    font-size: var(--biggest-font-size);
    font-weight: var(--font-semi-bold);
    transition: color .4s;
}
.logo__image{
    margin-inline: 1rem;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    box-shadow:0 4px 16px hsl(51, 100%, 50%); ;
}
.nav__logo:hover .logo__title{
    color:var(--yellow-color) ;
}
.slider{
    /* position: fixed; */
    width: 100%;
    margin-top: 5rem;
    right: 8rem;
    top: 4rem;
    /* display: none; */
    /* background-color: aqua; */
}
.slider__none{
    display: none;
}
.main__title{
    color: var(--white-color);
    font-size: var(--big-font-size);
    text-align: center;
}
.about__title{
    margin-top: 7rem;
    color: var(--white-color);
    font-size: var(--big-font-size);
    text-align: center;
}
.service_item{
    display: grid;
    grid-template-columns: 35px auto;
    align-items: center;
    column-gap: .5rem;
    color: var(--white-color);
}
.slide__link{
    display: grid;
    grid-template-columns: repeat(6,1fr);
    column-gap: .5rem;
     margin-top: .5rem;
    border-radius: 1rem;
    box-shadow: 0px 4px 16px hwb(115 62% 1%);
    padding: .5rem;
    /* box-shadow: 0px 8px 16px hwb(48 96% 2%); */
    opacity: 1;
    /* transform: translateX(400px); */
    transition: opacity .4s,transform .1s;
}

.active-link{
    background-color: hwb(51 0% 0%);
    box-shadow: 0 4px 16px hsl(202, 25%, 50%);
}
.active-slide{
    opacity: 1;
    transform: translateX(0);
}
.service__image{
    width: 35px;
    height: 35px;
    border-radius: .5rem;
    cursor: pointer;
    transition: transform .4s;
}
.slide__image{
    font-size: var(--small-font-size);
    cursor: pointer;
    transition: transform .4s;
}
.service__image:hover{
    transform: translateY(-.25rem);
    box-shadow: 0px 8px 16px hwb(115 1% 51%);
}

.active-section{
    left: 2rem;
    /* transform: translateX(0px); */
}
@media screen and (max-width: 450px){
    .logo__title{
        font-size: var(--medium-font-size);
    }
  
}
@media screen and (max-width: 850px){
    .slide__link{
        grid-template-columns: repeat(3,auto);
        row-gap: .5rem;
    }
    .nav__menu{
        position: fixed;
        top: -120%;
        left: 0;
        width: 100%;
        z-index: 100;
        background-color: hsl(197, 97%, 74%);
        padding-block: 4rem;
        box-shadow: 0 8px 16px hsla(166, 85%, 8%, .3);
        transition: top .4s;
        .nav__list{
            display: flex;
            flex-direction: column;
            row-gap: 2rem;
            align-items: center;
            .nav__link{
                color: var(--white-color);
                cursor: pointer;
                font-size: var(--big-font-size);
                font-weight: var(--font-semi-bold);
            }
        }
        .close__logo{
            position: absolute;
            top: 1rem;
            right: 1rem;
            font-size: var(--biggest-font-size);
            font-weight: var(--font-semi-bold);
            color: var(--yellow-color);
            cursor: pointer;
        }
    }
    .sections{
        position: relative;
        /* margin-top: rem; */
        margin-bottom: 4rem;

        width: 100%;
        height: 100%;
        /* height: 400px; */
        overflow-x: hidden;
        overflow-y: scroll;
        .section{
            position: absolute;
            display: grid;
            width: 100%;
            align-items: center;
            right: -100rem;
            transition: all .8s;
            .section__content{
                display: grid;
                grid-template-columns: 1fr;
                align-items: center;
                row-gap: 2rem;
                margin-top: 1rem;
                margin-right: 4rem;
                padding-bottom: 3rem;
                border-radius: .5rem;
                box-shadow: 0px 4px 36px hsla(0, 0%, 95%,.5);
                img{
                    margin-top: 2rem;
                    padding-inline: 1rem;
                    width: 100%;
                    height: 400px;
                    border-radius: 2rem;
                    grid-row: 1;
                }
                .content__data{
                    color: var(--white-color);
                    padding-left: 2rem;
                    .content__header{
                        font-size: 2rem;
                        letter-spacing: -1px;
                        line-height: 100%;
                        margin-bottom: 1rem;
                    }
                    .content__description{
                        letter-spacing: 1px;
                        line-height: 150%;
                        font-size: var(--medium-font-size);
                    }
                }
                .content__image{
                    height: 200px;
                    opacity: .9;
                    overflow: hidden;
                }
            }
    }
}

}
@media screen and (min-width: 851px){
    .nav__menu{
        display: grid;
        .nav__list{
            display: flex;
            column-gap: 2rem;
            .nav__link{
                color: var(--white-color);
                cursor: pointer;
                font-size: var(--medium-font-size);
                font-weight: var(--font-semi-bold);
                padding: .5rem;
                border-radius: .5rem;
                transition: color .4s;
            }
            .nav__link:hover{
                background-color: var(--yellow-color);
            }
        }
    }
    .toogle__logo,
    .close__logo{
        display: none;
    }
    .sections{
        position: relative;
        top: 2rem;
        margin-bottom: 4rem;
        left: 2rem;
        width: 100%;
        height: 100%;
        .section{
            position: absolute;
            display: grid;
            width: 100%;
            align-items: center;
            right: -100rem;
            /* transform: translateX(100px); */
            transition: all .4s ease-in-out;
            .section__content{
                display: grid;
                grid-template-columns: repeat(2,1fr);
                align-items: center;
                column-gap: 2rem;
                margin-top: 1rem;
                margin-right: 5rem;

                padding-left: 2rem;
                border-radius: 2rem;
                box-shadow: 0px 4px 36px hsla(0, 0%, 95%,.5);
                img{
                    width: 100%;
                    height: 300px;
                    border-radius: 2rem;
                }
                .content__data{
                    color: var(--white-color);
                    .content__header{
                        font-size: 2.75rem;
                        letter-spacing: -1px;
                        line-height: 100%;
                        margin-bottom: 1rem;
                    }
                    .content__description{
                        letter-spacing: 1px;
                        line-height: 150%;
                        font-size: var(--medium-font-size);
                    }
                }
                .content__image{
                    opacity: .9;
                }
            }
        }
    }
}
/* Show Menu */
.show-menu{
  top: 0;
}


